{{define "pagination"}}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{ $page :=.page}} {{ range $k,$v := .urls}}
        <li {{if eq $v $page}}class="active" {{end}}><a href="{{$v}}">{{$v}}</a></li>
        {{end}}
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{{end}}
<script>
</script>